
  .background{
    background: url('./Images/background_2.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
  }
  
  .bg-mountain{
    background: url('./Images/banner-background.jpg.png') no-repeat fixed; 
    background-size: 100% 100%;
    background-position: center;
    height: 100vh;
    
  }
  .kingdoms{
    background: url('./Images/kingdom.png') no-repeat ;
    background-size: 50% 60%;
    background-position: center;
    height: 58vh;
  }
  .content{
    display: gird;
    place-items: center;
    height: 100vh;
    align-content: center;
  }
  .box{
    margin-top: 100px;
    background-color: #000000b3;
    box-shadow: -7px 14px 40px 5px #816c33, 10px -22px 50px 16px #816c33;
  }
  .para{
    border: 1px solid #ffac00;
    border-radius: 5px;
  }
  
  