
   

          .btn-grad:hover {
            background-position: right center !important; /* change the direction of the change here */
            color: #fff !important;
            text-decoration: none !important;
          }
           .btn-grad:disabled{
               background: #2f3137 ;
               color: #6d6e72;
           }
          .btn-grad {
            background: linear-gradient(to right, #F09819 0%, #EDDE5D  51%, #F09819  100%);
             text-align: center !important;
             text-transform: uppercase !important;
             transition: 0.5s !important;
             background-size: 200% auto !important;
             color: white !important;            
             box-shadow: 0 0 20px #eee ;
             border-radius: 10px ;
             display: block !important;
           }
 